/* HOME styles */

main {
    /* border: 1px dashed grey; */
    height: 450px;
}

.homepage{
/* padding-left: 12px !important; */
}

.square {
    background-color: rgba(128, 128, 128, 0.103);
    height: 450px;
    width: 450px !important;
    /* border: 1px dashed red */
}

#galleryHome {
    margin-left: 12px;
}

#contentMenu {
    margin-left: 10px;
}